
    <div class="footer-basic">
        <footer>
            <div class="social"><a href="https://www.instagram.com/rujul_09/"><i class="icon ion-social-instagram"></i></a><a href="https://www.snapchat.com/add/rujuld09?sender_web_id=df3b587d-1ac2-4335-a392-0bfc00371558&device_type=desktop&is_copy_url=true"><i class="icon ion-social-snapchat"></i></a><a href="https://twitter.com/Rujul_14"><i class="icon ion-social-twitter"></i></a><a href="https://www.linkedin.com/in/rujul-dudhat-7b530b226/"><i class="icon ion-social-linkedin"></i></a></div>
            <p class="copyright">Daily Blogger © 2022</p>
        </footer>
    </div>
</body>

</html>
