<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
    <meta charset="utf-8">
    <title>About Us</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css">
    <link rel="stylesheet" href="css/about.css">
    <nav class="navbar navbar-default">
        <div class="container">
            <div class="navbar-header">
                <p class="navbar-brand">DAILY BLOGGER</p>
            </div>
            <ul class="nav navbar-nav navbar-right">
                <!-- 6 -->
                <li id="home"><a href="/">HOME</a></li>
                <li id="about"><a href="/about">ABOUT US</a></li>
                <li id="compose"><a href="/compose">COMPOSE</a></li>
                <li id="blog"><a href="/blogs">BLOGS</a></li>
                <li id="register"><a href="/register">REGISTER</a></li>
                <li id="login"><a href="/login">LOGIN</a></li>
            </ul>
        </div>
    </nav>

<body>
    <div class="paragraph">
        <h1 style="font-size: 400%">About US</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus id aliquet arcu. Quisque porta sit amet erat sed maximus. Duis accumsan mollis sollicitudin. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nulla vitae lectus a ipsum venenatis vulputate at id dui. Aliquam cursus at felis non lacinia. Nullam non luctus lectus. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Aenean vulputate scelerisque aliquam. Nullam vel elit luctus, egestas lorem quis, interdum leo. Praesent sed sapien ac lorem aliquet volutpat quis imperdiet odio. Fusce porta placerat posuere. Phasellus consectetur eget turpis in consequat. Ut ornare laoreet purus, vel tincidunt diam luctus vitae. Suspendisse viverra, leo eu aliquet eleifend, metus quam interdum odio, quis accumsan ante leo non massa. Ut a neque a quam placerat dictum.

Nam vitae vestibulum enim. In augue dui, dapibus blandit pellentesque sed, condimentum sit amet nibh. Sed at quam eget turpis accumsan accumsan. Vestibulum justo lorem, egestas vitae vulputate hendrerit, suscipit vel nunc. Fusce ex quam, ullamcorper euismod euismod sed, fringilla porttitor erat. Integer ultrices efficitur posuere. Integer semper purus sit amet dignissim ultrices. Donec eu arcu ac neque ullamcorper elementum. Duis in sollicitudin justo, et pulvinar enim. Cras tristique dui eu nisi mattis, sit amet sodales ligula condimentum. Vestibulum vel sapien eu mi lacinia interdum at sed quam.

Integer euismod, erat eget ullamcorper vehicula, sem odio efficitur ipsum, vitae volutpat quam lectus vitae est. Donec ultrices ipsum sit amet volutpat egestas. Pellentesque iaculis leo sed mauris porttitor maximus. Donec a lacinia leo, a elementum lectus. Sed aliquam ante non leo lobortis, sed maximus quam lobortis. Nulla in eros imperdiet, porttitor libero vel, tincidunt felis. Interdum et malesuada fames ac ante ipsum primis in faucibus. Pellentesque rutrum sapien vitae nibh pulvinar, a facilisis velit aliquet. Morbi quis eros ex. Nullam efficitur urna libero, quis venenatis mauris blandit ac. Sed vitae pretium est, ut tristique eros. Nunc tincidunt ullamcorper eros vitae egestas. Fusce elementum consectetur metus, tincidunt interdum libero consequat quis. Vestibulum nec aliquet justo, sed posuere nisl. Morbi nec interdum tortor, sit amet porta felis. Donec elementum mauris vehicula purus scelerisque ultricies.

Donec lectus leo, cursus sed velit id, ornare blandit velit. Ut vitae eleifend velit, sed euismod nulla. Nullam congue nisl sed imperdiet bibendum. Nunc ante felis, condimentum eu lacinia quis, elementum ac nulla. Aliquam mattis lectus a magna elementum ornare quis ut nulla. Vivamus dignissim ante quis nunc ultrices cursus. Pellentesque tempor vehicula turpis, id molestie enim aliquet sit amet. Nullam nec placerat est. Nunc et dignissim ex. Aenean quis hendrerit risus. Suspendisse scelerisque facilisis pretium. Duis efficitur vehicula eros, vitae suscipit dui congue id. Maecenas non placerat elit. Vestibulum feugiat lorem leo, eget porta eros tempus accumsan. Integer at ante id nisl convallis tincidunt vel eget sem.

Nunc accumsan aliquet libero et posuere. Proin dictum tortor elementum convallis faucibus. Sed non mollis nunc. Pellentesque dapibus arcu nulla, sit amet tristique velit finibus nec. Mauris vel mi eget orci ultrices sollicitudin. Cras ac elit et lacus suscipit luctus. Vestibulum auctor diam id ex sagittis interdum.</p>
    </div>
    <div class="footer-basic">
        <footer>
            <div class="social"><a href="https://www.instagram.com/rujul_09/"><i class="icon ion-social-instagram"></i></a><a
                    href="https://www.snapchat.com/add/rujuld09?sender_web_id=df3b587d-1ac2-4335-a392-0bfc00371558&device_type=desktop&is_copy_url=true"><i class="icon ion-social-snapchat"></i></a><a href="https://twitter.com/Rujul_14"><i
                        class="icon ion-social-twitter"></i></a><a href="https://www.linkedin.com/in/rujul-dudhat-7b530b226/"><i class="icon ion-social-linkedin"></i></a></div>
            <p class="copyright">Daily Blogger © 2022</p>
        </footer>
    </div>
</body>

</html>
